In [126]:
!git clone https://github.com/Nicolascard995/Pandas-and-Numpy.git
cd Pandas-and-Numpy
!git remote add origin https://github.com/Nicolascard995/Pandas-and-Numpy.git
!git branch -M main
!git push -u origin main

SyntaxError: ignored

In [1]:
print(" Aprendiendo a usar librerias !")

 Aprendiendo a usar librerias !


1. NunPy : 
- Calculo numérico
- Manejo de Arrays
- 50 Veces más rapido que usar una lista de python o c
- Optimiza el almacenamiento en memoria
- Maneja distintos tipos de datos

 Se pueden crear *redes neuronales* desde cero

2. Pandas:


-   Al estar construido sobre NumPy es veloz
-   Requiere poco código para manipular los datos
-  Soporta múltiples formatos de archivos
- Ordena los datos en una alineacion inteligente

Se pueden manejar *grandes cantidades de datos*, hacer analítica y generar dashboards.

## Resumen del curso : 

*  NumPy es una librería de Python que se utiliza para el cálculo numérico y manejo de arrays. Es 50 veces más rápido que usar una lista de Python o C y optimiza el almacenamiento en memoria. Además, permite manejar distintos tipos de datos y se pueden crear redes neuronales desde cero.

Pandas, por su parte, es una librería construida sobre NumPy que permite manipular datos de una forma más fácil y rápida. Soporta múltiples formatos de archivos, ordena los datos en una alineación inteligente y permite manejar grandes cantidades de datos, hacer análisis y generar dashboards.

En el código se utilizan conceptos como:

Arrays: representación de texto de manera estructurada y acceso a ellos a través del indexado.
Slicing: extraer varios datos de un array con un comienzo y un final.
Tipos de datos: los arrays en NumPy solo pueden tener un único tipo de dato para almacenar y trabajar.
Dimensiones: existen distintas dimensiones como scalar, vector, matriz, tensor.
Creación de arrays: utilizando la función arange, zeros, ones, linspace, eye, rand, randint.
Shape y Reshape: cambiar la forma de un array con shape y reshape.
Funciones principales: máximo, mínimo, índice del máximo, índice del mínimo, ptp, mediana, media, desviación estándar, varianza.
Concatenación: juntar arrays utilizando concatenate.
Copy: hacer una copia de un array con copy.
Condiciones: utilizar condiciones para extraer datos de un array.
Operaciones: realizar operaciones matemáticas con arrays.
Pandas permite trabajar con datos en forma de Series y DataFrames. Se pueden crear Series utilizando una lista o un diccionario y acceder a los datos a través de un índice. También se pueden crear DataFrames a partir de un diccionario o un archivo.

In [2]:
import numpy as np
import pandas as pd

Array [] : representa texto de manera estructurada y se puede acceder a ellos a través del indexado, a un dato especifico o uun grupo de muchos datos específicos.

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
lista ---> [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [3]:
lista = [1, 2, 3, 4, 5 , 6, 7, 8 , 9]
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
arr = np.array(lista)

In [5]:
type(arr)

numpy.ndarray

In [6]:
 matriz = [[1,2,3],[4,5,6],[7, 8, 9]]
 matriz = np.array(matriz)
 matriz

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
arr[0]

1

In [8]:
arr[0] + arr[3]

5

In [9]:
matriz[0,1] + matriz[1,2]

8

In [10]:
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

Slicing
Nos permite extraer varios datos, tiene un comienzo y un final.
En este ejemplo se está extrayendo datos desde la posición 1 hasta la 5.

In [11]:
arr[0:3]

array([1, 2, 3])

In [12]:
arr[:6]

array([1, 2, 3, 4, 5, 6])

In [13]:
arr[-3]

7

In [14]:
matriz

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [15]:
matriz[1:,0:2]

array([[4, 5],
       [7, 8]])

Tipos de datos numpy

In [16]:
arr = np.array([1, 2, 3, 4])
arr.dtype

dtype('int64')

In [17]:
arr = np.array([1, 2, 3, 4], dtype='float64')
arr.dtype

dtype('float64')

El cambia de tipo de dato se debe a que float64 funciona mejor con las redes neuronales y tensorflow, pytorch

In [18]:
arr = np.array([1, 2, 0, 4])
arr = arr.astype(np.bool_)
arr

array([ True,  True, False,  True])

In [19]:
arr = np.array([1, 2, 0, 4])
arr = arr.astype(np.string_)
arr

array([b'1', b'2', b'0', b'4'], dtype='|S21')

In [20]:
arr = np.array(["1","holan" "2", "0"," 4"])
arr = arr.astype(np.int8)
arr

ValueError: ignored

In [ ]:
El array en numPY solo unico tipo de dato para almacenar y un un unico tipo de dato para trabrajar. De esa forma funciona la optimizacion en los array de nunpy

In [ ]:
4/24 Dimensiones: matriz
Scalar : 0
Vector : Listas de Python : 0 , 1, 2
Matriz :  Hoja de cálculo:
Color	País	Edad	Fruta
Rojo	España	24	Pera
Amarillo	Colombia	30	Manzana 
Tensor: Series de tiempo o Imágenes

In [ ]:
scalar = np.array(42)
print(scalar)
scalar.ndim

In [ ]:
vector = np.array([42, 43, 65])
print(vector)
vector.ndim

In [ ]:
matriz = np.array([[42, 65],[2,3]])
print(matriz)
matriz.ndim

In [ ]:
tensor = np.array([[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],[[13, 13, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24]]])
print(tensor)
tensor.ndim

In [ ]:
vector = np.array([42, 43, 65],ndmin=10)
print(vector)
vector.ndim

In [ ]:
expand = np.expand_dims(np.array([42, 43, 65]),axis=0)
print(expand)
expand.ndim

In [ ]:
print(vector, vector.ndim)
vector_2 = np.squeeze(vector)
print(vector_2, vector_2.ndim)

In [ ]:
5/24
Creando arrays

In [ ]:
list(range(0,10))

In [ ]:
np.arange(0,100,3)

In [ ]:
np.zeros((10,10))

In [ ]:
np.ones((10,5))

In [ ]:
np.linspace(0,10,34)

In [ ]:
np.eye(4)

In [ ]:
np.random.rand()

In [ ]:
np.random.rand(4,2,2,3)

In [ ]:
np.random.randint(1,23)

In [ ]:
np.random.randint(1,100,(10,10))

In [ ]:
6/24
Shape y Reshape

In [ ]:
arr_3 = np.random.randint(1,10,(3,2))
print(arr_3)
arr_3.shape

In [ ]:
arr_3

In [ ]:
arr_3.reshape(1,6)

In [ ]:
arr_3.reshape(2,3)

In [ ]:
np.reshape(arr_3,(1,6))

In [ ]:
arr_3

In [ ]:
np.reshape(arr_3,(2,3),"C")

In [ ]:
np.reshape(arr_3,(2,3),"F")

In [ ]:
np.reshape(arr_3,(2,3),"A")

In [ ]:
7/24
Funciones principales de NunPy

In [ ]:
arr = np.random.randint(1,30,10)

In [ ]:
matriz = arr.reshape(2,5)
matriz

In [ ]:
arr.max()

In [ ]:
matriz.max(1)

In [ ]:
arr.argmax()

In [ ]:
matriz.argmax(0)

In [ ]:
arr.min()

In [ ]:
matriz.min()

In [ ]:
arr.argmin()

In [ ]:
matriz.argmin(1)

In [ ]:
arr

In [ ]:
arr.ptp()

In [ ]:
matriz.ptp(0)

In [ ]:
np.percentile(arr,50)

In [ ]:
arr.sort()
arr

In [ ]:
np.median(arr)

In [ ]:
np.median(matriz,0)

In [ ]:
np.std(arr)

In [ ]:
np.var(arr)

In [ ]:
np.mean(arr)

In [ ]:
a = np.array([[1, 2],[3, 4]])
b = np.array([5, 6])

In [ ]:
np.concatenate((a,b),axis=0)

In [ ]:
a.ndim
b.ndim

In [ ]:
b = np.expand_dims(b,axis=0)

In [ ]:
np.concatenate((a,b),axis=0)

In [ ]:
np.concatenate((a,b),axis=1)

In [ ]:
np.concatenate((a,b.T),axis=1)

In [ ]:
b.T

8/24 Copy

In [ ]:
arr = np.arange(0,11)
arr

In [ ]:
trozo_de_arr = arr[0:6]

In [ ]:
trozo_de_arr[:] = 0
trozo_de_arr

In [ ]:
 arr

In [ ]:
arr_copy = arr.copy()

In [ ]:
arr_copy[:] = 100

In [ ]:
arr_copy

In [ ]:
arr

9/24 Condiciones

In [ ]:
arr = np.linspace(1,10,10, dtype='int8')
arr

In [ ]:
arr > 5

In [ ]:
indices_cond = arr >5
indices_cond

In [ ]:
arr[(arr > 5 )& (arr < 9)]

In [ ]:
arr[arr > 5] = 99

In [ ]:
arr
arr[arr==99]

In [ ]:
10/24 operaciones

In [ ]:
lista = [1,2]
lista

In [ ]:
lista * 2

In [ ]:
arr = np.arange(0,10)
arr2 = arr.copy()

Operaciones

In [ ]:
arr

In [ ]:
arr * 2

In [ ]:
arr + 2

In [ ]:
1/ arr

In [ ]:
arr ** 2

In [ ]:
arr + arr2

In [ ]:
arr * arr2

In [ ]:
matriz = arr.reshape(2,5)
matriz2 = matriz.copy()

In [ ]:
matriz + matriz2

In [ ]:
matriz * matriz2

In [ ]:
matriz2.T

In [ ]:
np.matmul(matriz,matriz2.T)

In [ ]:
matriz @ matriz2.T

11/24 Series y dataFrames en Pandas

In [ ]:
import pandas as pd

In [ ]:
psg_player = pd.Series(['Navas',"Mbappe","Neymar","Messi"],
         index=[1,7,10,30]
          )

In [ ]:
psg_player

In [ ]:
psg_player = pd.Series(['Navas',"Mbappe","Neymar","Messi"])

In [ ]:
dict = {1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict)

In [ ]:
psg_player[7]

In [ ]:
psg_player[0:3]

In [ ]:
dict = {'Jugador':['Navas',"Mbappe","Neymar","Messi"],
 'Altura':[183,170.2,123,166],
 'Goles':[2,200,230,800],
 }

In [ ]:
df_Player = pd.DataFrame(dict,index=[1,7,10,30])

In [ ]:
df_Player.columns

In [ ]:
df_Player.index

12/24 Leer archivos CSV y JSON con pandas

In [22]:
df_books = pd.read_csv('/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv', sep=",", header=0, names = (['Nameeeee', 'aaaaAuthor', 'ssssUser Rating', 'Reviews', 'Price', 'Year', 'Genre']))

In [ ]:
df_books.columns

In [ ]:
df_books.columns

In [ ]:
url = "https://static.platzi.com/media/public/uploads/hpcharactersdataraw_3d934e85-dfa4-42ec-8520-fadfbecae574.json"
pd.read_json(url, typ="Series")

13/24 iloc y loc

In [ ]:
df_books = pd.read_csv('/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv', sep=",", header=0)
df_books

In [ ]:
df_books[0:4]

In [ ]:
df_books[['Name','Author','Year']]

In [ ]:
df_books.loc[:]

In [ ]:
df_books.loc[0:4]

In [ ]:
df_books.loc[0:4,['Name','Author']]

In [ ]:
df_books.loc[:, ['Reviews']] * -1.3

In [ ]:
df_books.loc[:, ['Author']] == 'Cortazar'

In [ ]:
df_books.iloc[:]

In [ ]:
df_books.iloc[:,0:3]

In [ ]:
df_books.iloc[1,3]

In [ ]:
df_books.iloc[:3,2:]

13/24 Agregar o elimanar datos

In [ ]:
df_books.head(2)

drop columns

In [ ]:
df_books.drop('Genre',axis=1).head(2)

No lo borra del dataframe solo de la salida

In [ ]:
df_books.head(2)

In [ ]:
df_books.drop('Genre',axis=1,inplace=True)

In [ ]:
df_books.head(2)

In [ ]:
df_books = df_books.drop('Year',axis=1)

In [ ]:
df_books.head(2)

In [ ]:
del df_books['Price']

Drop Rows

In [ ]:
df_books = pd.read_csv('/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv', sep=",", header=0)
df_books

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df_books.drop(range(0,50),axis=0).head(2)

Como agrego nuevas filas o columnas?

In [ ]:
df_books.head(2)

In [ ]:
df_books['Probando'] = np.nan

In [ ]:
df_books

In [ ]:
df_books.head(2)

In [ ]:
data = np.arange(0,df_books.shape[0])

In [ ]:
df_books['Range'] = data

In [ ]:
df_books

In [ ]:
df_books.append(df_books)

## 15/24 Manejo de datos Nulos

In [ ]:
dict = {'Col1':[1, 2, 3,np.nan],
 'Col2':[4,np.nan,6 ,7],
 'Col3':['a', 'b', 'c',None]
 }

In [ ]:
df = pd.DataFrame(dict)

In [ ]:
df

In [ ]:
df.isnull()

In [ ]:
df.fillna('Missing')

In [ ]:
df.fillna(df.mean())

In [ ]:
df.interpolate()

In [ ]:
df.dropna()

## 16/24 Filtrado por condiciones

In [ ]:
mayor_2016 = df_books['Year'] > 2016

In [ ]:
df_books[df_books['Year'] > 2016]

In [ ]:
df_books[mayor_2016]

In [ ]:
genre_fiction = df_books['Genre'] == 'Fiction'

In [ ]:
df_books[genre_fiction & mayor_2016]

In [ ]:
df_books[-mayor_2016]

## 17/24 Funciones principales de panda

In [23]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nameeeee         550 non-null    object
 1   aaaaAuthor       550 non-null    object
 2   ssssUser Rating  550 non-null    float64
 3   Reviews          550 non-null    int64
 4   Price            550 non-null    int64
 5   Year             550 non-null    int64
 6   Genre            550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [ ]:
df_books.describe()

In [ ]:
df_books.tail(50)

In [ ]:
df_books.memory_usage(deep=True)

In [ ]:
df_books['Author'].value_counts()

In [ ]:
df_books.iloc[0]

In [24]:
df_books = df_books.append(df_books.iloc[0])

<ipython-input-24-c6130e308d71>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_books = df_books.append(df_books.iloc[0])

In [25]:
df_books

,Nameeeee,aaaaAuthor,ssssUser Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

In [27]:
df_books.drop_duplicates(keep='last')

,Nameeeee,aaaaAuthor,ssssUser Rating,Reviews,Price,Year,Genre
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
...,...,...,...,...,...,...,...
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

In [26]:
df_books.sort_values('Year',ascending=False)

,Nameeeee,aaaaAuthor,ssssUser Rating,Reviews,Price,Year,Genre
179,If Animals Kissed Good Night,Ann Whitford Paul,4.8,16643,4,2019,Fiction
294,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6,2019,Non Fiction
263,P is for Potty! (Sesame Street) (Lift-the-Flap),Naomi Kleinberg,4.7,10820,5,2019,Non Fiction
489,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2019,Fiction
267,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,4.8,16990,27,2019,Fiction
...,...,...,...,...,...,...,...
160,Have a Little Faith: A True Story,Mitch Albom,4.8,1930,4,2009,Non Fiction
512,True Compass: A Memoir,Edward M. Kennedy,4.5,438,15,2009,Non Fiction
513,"Twilight (The Twilight Saga, Book 1)",Stephenie Meyer,4.7,11676,9,2009,Fiction
78,Divine Soul Mind Body Healing and Transmission...,Zhi Gang Sha,4.6,37,6,2009,Non Fiction
459,The Shack: Where Tragedy Confronts Eternity,William P. Young,4.6,19720,8,2009,Fiction

## Groupby 18/24

In [28]:
df_books = pd.read_csv('/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv', sep=",", header=0)
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [38]:
df_books.groupby('Author').sum().loc["William Davis"]

<ipython-input-38-e899ca7396ae>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_books.groupby('Author').sum().loc["William Davis"]

User Rating        8.8
Reviews        14994.0
Price             12.0
Year            4025.0
Name: William Davis, dtype: float64

In [39]:
df_books.groupby('Author').sum().reset_index()

<ipython-input-39-ecb9159ebf61>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_books.groupby('Author').sum().reset_index()

                         Author  User Rating  Reviews  Price  Year
0              Abraham Verghese          9.2     9732     22  4021
1                Adam Gasiewski          4.4     3113      6  2017
2                 Adam Mansbach          4.8     9568      9  2011
3                     Adir Levy          4.8     8170     13  2019
4    Admiral William H. McRaven          4.7    10199     11  2017
..                          ...          ...      ...    ...   ...
243             Walter Isaacson         13.7    18668     61  6040
244               William Davis          8.8    14994     12  4025
245            William P. Young          9.2    39440     16  4026
246            Wizards RPG Team         14.4    50970     81  6054
247                Zhi Gang Sha          9.2      257     23  4022

[248 rows x 5 columns]

In [40]:
df_books.groupby('Author').agg(['min','max'])

                                                                         Name  \
                                                                          min
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                             Leonardo da Vinci
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...

                                                                               \
                                                                          max
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                                    Steve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Soul Healing Miracles: Ancient and New Sacred ...

                           User Rating      Reviews        Price      Year  \
                                   min  max     min    max   min max   min
Author
Abraham Verghese                   4.6  4.6    4866   4866    11  11  2010
Adam Gasiewski                     4.4  4.4    3113   3113     6   6  2017
Adam Mansbach                      4.8  4.8    9568   9568     9   9  2011
Adir Levy                          4.8  4.8    8170   8170    13  13  2019
Admiral William H. McRaven         4.7  4.7   10199  10199    11  11  2017
...                                ...  ...     ...    ...   ...  ..   ...
Walter Isaacson                    4.5  4.6    3014   7827    20  21  2011
William Davis                      4.4  4.4    7497   7497     6   6  2012
William P. Young                   4.6  4.6   19720  19720     8   8  2009
Wizards RPG Team                   4.8  4.8   16990  16990    27  27  2017
Zhi Gang Sha                       4.6  4.6      37    220     6  17  2009

                                        Genre
                             max          min          max
Author
Abraham Verghese            2011      Fiction      Fiction
Adam Gasiewski              2017  Non Fiction  Non Fiction
Adam Mansbach               2011      Fiction      Fiction
Adir Levy                   2019      Fiction      Fiction
Admiral William H. McRaven  2017  Non Fiction  Non Fiction
...                          ...          ...          ...
Walter Isaacson             2017  Non Fiction  Non Fiction
William Davis               2013  Non Fiction  Non Fiction
William P. Young            2017      Fiction      Fiction
Wizards RPG Team            2019      Fiction      Fiction
Zhi Gang Sha                2013  Non Fiction  Non Fiction

[248 rows x 12 columns]

In [ ]:
df_books.head(2)

In [44]:
df_books.groupby('Author').agg({'Reviews':['min','max'], 'User Rating':'mean'})

                           Reviews        User Rating
                               min    max        mean
Author
Abraham Verghese              4866   4866    4.600000
Adam Gasiewski                3113   3113    4.400000
Adam Mansbach                 9568   9568    4.800000
Adir Levy                     8170   8170    4.800000
Admiral William H. McRaven   10199  10199    4.700000
...                            ...    ...         ...
Walter Isaacson               3014   7827    4.566667
William Davis                 7497   7497    4.400000
William P. Young             19720  19720    4.600000
Wizards RPG Team             16990  16990    4.800000
Zhi Gang Sha                    37    220    4.600000

[248 rows x 3 columns]

In [47]:
df_books.groupby(['Author','Year']).count() != 1

                        Name  User Rating  Reviews  Price  Genre
Author           Year
Abraham Verghese 2010  False        False    False  False  False
                 2011  False        False    False  False  False
Adam Gasiewski   2017  False        False    False  False  False
Adam Mansbach    2011  False        False    False  False  False
Adir Levy        2019  False        False    False  False  False
...                      ...          ...      ...    ...    ...
Wizards RPG Team 2017  False        False    False  False  False
                 2018  False        False    False  False  False
                 2019  False        False    False  False  False
Zhi Gang Sha     2009  False        False    False  False  False
                 2013  False        False    False  False  False

[493 rows x 5 columns]

## Combinando DataFrame 19/24


1.   JOINS
left / rigt / inner / outer


2. Concat - Axis = 0 (Filas / crecimiento vertical)
            Axis = 1 (Columnas / cremiento horizontal)

Merge, Join y Concat 20/24

In [52]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
'B':['B0','B1','B2','B3'],
 'C':['C0','C1','C2','C3'],
 'D':['D0','D1','D2','D3']
 })

df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
'B':['B4','B5','B6','B7'],
 'C':['C4','C5','C6','C7'],
 'D':['D4','D5','D6','D7']
 })

In [55]:
pd.concat([df1,df2],ignore_index=True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [57]:
pd.concat([df1,df2],axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [70]:
izq = pd.DataFrame({'key':['k0','k1','k2','k3'],
 'A':['A0','A1','A2','A3'],
'B':['B0','B1','B2','B3'
]})

derc = pd.DataFrame({'key_2':['k0','k1','k2',np.nan],
 'C':['C4','C5','C6','C7'],
 'D':['D4','D5','D6','D7']})

In [72]:
derc

  key_2   C   D
0    k0  C4  D4
1    k1  C5  D5
2    k2  C6  D6
3   NaN  C7  D7

In [71]:
izq.merge(derc, left_on='key', right_on='key_2')

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C4  D4
1  k1  A1  B1    k1  C5  D5
2  k2  A2  B2    k2  C6  D6

El valor por default es un inner join por eso no agarra la fila en nan

In [73]:
izq.merge(derc, left_on='key', right_on='key_2', how='left')

  key   A   B key_2    C    D
0  k0  A0  B0    k0   C4   D4
1  k1  A1  B1    k1   C5   D5
2  k2  A2  B2    k2   C6   D6
3  k3  A3  B3   NaN  NaN  NaN

## 21/24 join  index  mach

In [90]:
izq = pd.DataFrame({'A':['A0','A1','A2'],
                    'B':['B0','B1','B2']},
                   index=['k0','k1','k2'])
der = pd.DataFrame({'C':['C0','C1','C2'],
                    'D':['D0','D1','D2']},
                   index=['k0','k2','k3'])

In [91]:
izq.join(der, how='right')

      A    B   C   D
k0   A0   B0  C0  D0
k2   A2   B2  C1  D1
k3  NaN  NaN  C2  D2

## 22/24 Pivot Melt

1.   pivot_table
Esta función puede traer recuerdos a las personas interesadas en el mundo del SQL, ya que Oracle, PostgreSQL y otros motores de bases de datos la tienen implementada desde hace muchos años. Pivot, básicamente, transforma los valores de determinadas columnas o filas en los índices de un nuevo DataFrame, y la intersección de estos es el valor resultante.
2.   melt
El método melt toma las columnas del DataFrame y las pasa a filas, con dos nuevas columnas para especificar la antigua columna y el valor que traía.

Por ejemplo, simplemente al imprimir las cinco primeras filas del DataFrame con las columnas de Name y Genre se tiene este resultado.

In [92]:
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [94]:
df_books = pd.read_csv('/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv',sep=',',header=0)

In [95]:
df_books.pivot_table(index='Author',columns='Genre',values='User Rating')

Genre                       Fiction  Non Fiction
Author
Abraham Verghese                4.6          NaN
Adam Gasiewski                  NaN     4.400000
Adam Mansbach                   4.8          NaN
Adir Levy                       4.8          NaN
Admiral William H. McRaven      NaN     4.700000
...                             ...          ...
Walter Isaacson                 NaN     4.566667
William Davis                   NaN     4.400000
William P. Young                4.6          NaN
Wizards RPG Team                4.8          NaN
Zhi Gang Sha                    NaN     4.600000

[248 rows x 2 columns]

In [97]:
df_books.pivot_table(index='Genre',columns='Year', values='User Rating',aggfunc='mean')

Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Genre,,,,,,,,,,,
Fiction,4.591667,4.615,4.619048,4.495238,4.545833,4.631034,4.652941,4.715789,4.737500,4.738095,4.820000
Non Fiction,4.576923,4.520,4.513793,4.558621,4.561538,4.609524,4.645455,4.654839,4.588462,4.617241,4.686667

In [98]:
df_books[['Name','Genre']].head(5)

                                                Name        Genre
0                      10-Day Green Smoothie Cleanse  Non Fiction
1                                  11/22/63: A Novel      Fiction
2            12 Rules for Life: An Antidote to Chaos  Non Fiction
3                             1984 (Signet Classics)      Fiction
4  5,000 Awesome Facts (About Everything!) (Natio...  Non Fiction

In [99]:
df_books[['Name','Genre']].head(5).melt()

  variable                                              value
0     Name                      10-Day Green Smoothie Cleanse
1     Name                                  11/22/63: A Novel
2     Name            12 Rules for Life: An Antidote to Chaos
3     Name                             1984 (Signet Classics)
4     Name  5,000 Awesome Facts (About Everything!) (Natio...
5    Genre                                        Non Fiction
6    Genre                                            Fiction
7    Genre                                        Non Fiction
8    Genre                                            Fiction
9    Genre                                        Non Fiction

In [100]:
df_books.melt(id_vars='Year',value_vars='Genre')

     Year variable        value
0    2016    Genre  Non Fiction
1    2011    Genre      Fiction
2    2018    Genre  Non Fiction
3    2017    Genre      Fiction
4    2019    Genre  Non Fiction
..    ...      ...          ...
545  2019    Genre      Fiction
546  2016    Genre  Non Fiction
547  2017    Genre  Non Fiction
548  2018    Genre  Non Fiction
549  2019    Genre  Non Fiction

[550 rows x 3 columns]

## 23/24 Apply

In [101]:
def two_times(value):
  return value * 2

In [107]:
df_books['Rating_2'] = df_books['User Rating'].apply(two_times)

In [120]:
df_books['Rating_2'] = df_books['User Rating'].apply(lambda x : x *3)

In [121]:
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,14.1
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,13.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,14.1
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,14.1
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,14.4

In [122]:
df_books['Rating_2'] = df_books.apply(lambda x : x['User Rating'] * 2 if x['Genre'] == 'Fiction' else x['User Rating'], axis=1)

In [123]:
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,4.7
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,4.7
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,4.8
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,9.8
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,4.7
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,4.7
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,4.7
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,4.7